<footer>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbar">
    <div class="navbar-nav mx-auto">
      <a href="#" class="nav-item nav-link">ABOUT US</a>
      <a href="#" class="nav-item nav-link">SUPPORT</a>
      <a href="#" class="nav-item nav-link">BLOG</a>
      <a href="#" class="nav-item nav-link">PRESS</a>
      <a href="#" class="nav-item nav-link">API</a>
      <a href="#" class="nav-item nav-link">JOB</a>
      <a href="#" class="nav-item nav-link">PRIVACY</a>
      <a href="#" class="nav-item nav-link">TERMS</a>
      <a href="#" class="nav-item nav-link">DIRECTORY</a>
      <a href="#" class="nav-item nav-link">LANGUAGE</a>
    </div>
  </div>  
</nav>
</footer>